body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column {
    width: 48%;
}

h2 {
    text-align: center;
    color: #333;
}

.current-deals .deal {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.inline-input {
    display: inline-block;
    margin-left: 5px;
}

hr {
    border: none;
    border-top: 1px dotted #ddd;
    margin: 20px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}